@charset "utf-8";
*{
  margin: 0;
  padding: 0;  
}
body{
    font-family: 'Light';
    /* overflow: hidden; */
}
form{
    height: 100%;
}
/* ====================== header css ====================== */
.header{
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.header-title{
    position: absolute;
    left: 0;
    margin: 0px 0px 0px 40px;
}
.header-clock{
    position: absolute;
    right: 0;
    margin: 0px 40px 0px 0px;
}
.header p{
    font-size: 30px;
    font-family: 'Light';
}


/* ====================== wrapper css ====================== */
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ====================== Login.html css ====================== */
.container{
    position: relative;
    width: 1000px;
    max-width: 100%;
    min-height: 539px;
    border-radius: 10px;
    overflow: hidden;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}
.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
}
.signIn{
    background-color: #F3EBDF;
    height: 100%;
    color: #C48C37;
}
button{
    border-radius: 10px;
    border: none;
    box-shadow: 4px 6px 10px #777;
}

.signIn .signTitle{
    text-align: center;
    padding-top: 50px;
}
.signIn .signTitle p{
    font-size: 40px;
    font-family: 'Light';
}
.signIn .typeText{
    border: none;
    border-bottom: 1px solid #C48C37;
    padding: 6px;
    outline: none;
    background-color: #F3EBDF;
    width: 80%;
    font-size: 18px;
}
.signIn .username p, .pass p{
    margin: 0 0 0 -290px;
    font-size: 20px;
}
.signIn .divtext{
    text-align: center;
    margin: 40px 0;
}
.signIn .signInDiv{
    margin-top: 70px;
    text-align: center;
}
.signIn .loginBtn{
    width: 80%;
    height: 55px;
    font-size: 30px;
    color: #F3EBDF;
    background-color: #C48C37;
    
}
.signIn .loginBtn:active{
    box-shadow: 6px 4px 20px #555 inset;
}
.signIn .signInDiv p{
    margin: 10px auto;
}
.signIn input{
    color: #C48C37;
}

.signUp{
    background-color: #C48C37;
    height: 100%;
    color: #F3EBDF;
}
.signUp .signTitle{
    text-align: center;
    padding-top: 50px;
}
.signUp .signTitle p{
    font-size: 40px;
    font-family: 'Light';
}
.signUp .typeText{
    border: none;
    border-bottom: 1px solid #F3EBDF;
    padding: 6px;
    outline: none;
    background-color: #C48C37;
    width: 80%;
    font-size: 18px;
}
.signUp .username p, .pass p{
    margin: 0 0 0 -290px;
    font-size: 20px;
}
.signUp .divtext{
    text-align: center;
    margin: 40px 0;
}
.signUp .signUpDiv{
    margin-top: 70px;
    text-align: center;
}
.signUp .signUpBtn{
    width: 80%; 
    height: 55px;
    font-size: 30px;
    color: #C48C37;
    background-color: #F3EBDF;
}
.signUp .signUpBtn:active{
    box-shadow: 6px 4px 20px #555 inset;
}
.signUp .signUpDiv p{
    margin: 10px auto;
}
.signUp input{
    color: #F3EBDF;
}
.overlay-container{
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
        transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay {
    transform: translateX(50%);
}
.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left {
    transform: translateX(-20%);
}
.container.right-panel-active .overlay-left {
    transform: translateX(0);
}
.overlay-right {
    right: 0;
    transform: translateX(0);
}
.container.right-panel-active .overlay-right {
    transform: translateX(20%);
} 

.overlay-container .overlay button{
    width: 150px;
    height: 40px;
    border: 1px solid;
}
.overlay-container .overlay p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.circle{
    width: 500px;
    height: 500px;
    background-color: #C48C37;
    border-radius: 100vw;
    position: absolute;
    z-index: -2;
}
.circle1{
    top: -100px;
    left: -150px;
}
.circle2{
    top: -100px;
    right: -150px;
    background-color: #A95320;
}
.circle3{
    top: 75%;
    left: 250px;
    background-color: #A95320;
}